html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
h4 {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.flip {
  -webkit-perspective: 800;
   width: 25%;
   height: auto;
   position: relative;
   display: inline-block;
   float: left;
   img {
    width: 100%;
    height: auto;
    display: inherit;
   }
   .card {
      height: auto;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.4s;
      .face {
        width: 100%;
        position: absolute;
        -webkit-backface-visibility: hidden;
        z-index: 2;
        text-align: center;
        cursor: pointer;  
      }
      .front {
        z-index: 1;
        background: black;
        color: white;
      }
      .back {
        -webkit-transform: rotatey(-180deg);
        background: #009597;
        color: #fff;
        img {
          visibility: hidden;
        }
        .back-details {
          position: absolute;
          top: 0;
          left: 5px;
        }
      }
    &.flipped {
      -webkit-transform: rotatey(-180deg);   
    }
  }
}