* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 300;
}
h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
strong {
  font-weight: 600;
}
.flip {
  -webkit-perspective: 800;
   width: 25%;
   height: auto;
   position: relative;
   display: inline-block;
   float: left;
   img {
    width: 100%;
    height: auto;
    display: inherit;
   }
   .card {
      height: auto;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.4s;
      .face {
        width: 100%;
        position: absolute;
        -webkit-backface-visibility: hidden;
        z-index: 2;
        cursor: pointer;  
      }
      .front {
        z-index: 1;
        color: white;
      }
      .back {
        -webkit-transform: rotatey(-180deg);
        background: #009597;
        img {
          visibility: hidden;
        }
        .back-details {
          position: absolute;
          top: 0;
          left: 10px;
        }
      }
    &.flipped {
      -webkit-transform: rotatey(-180deg);   
    }
  }
}
.details-row {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  span {
    display: inline-block;
  }
  &.details-row-1 {
    span {
      width: 115px;
    }
  }
  &.details-row-2 {
    .sqft {
      width: 115px;
    }
    .beds, .baths {
      width: 75px;
    }
  }
}
.bottom-bar {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  padding: 14px 10px;
  background-color: #217079;
  a {
    font-family: 'Arapey', serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}