/* line 1, ../sass/styles.scss */
.flip {
  -webkit-perspective: 800;
  width: 70%;
  position: relative;
  margin: 50px auto;
}
/* line 6, ../sass/styles.scss */
.flip .card {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
/* line 10, ../sass/styles.scss */
.flip .card .face {
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
}
/* line 20, ../sass/styles.scss */
.flip .card .front {
  z-index: 1;
  background: black;
  color: white;
}
/* line 25, ../sass/styles.scss */
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  background: white;
  color: black;
}
/* line 30, ../sass/styles.scss */
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
