/* line 1, ../sass/styles.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/styles.scss */
.flip {
  -webkit-perspective: 800;
  width: 25%;
  height: auto;
  position: relative;
  display: inline-block;
  float: left;
}
/* line 12, ../sass/styles.scss */
.flip img {
  width: 100%;
  height: auto;
  display: inherit;
}
/* line 17, ../sass/styles.scss */
.flip .card {
  height: auto;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.4s;
}
/* line 21, ../sass/styles.scss */
.flip .card .face {
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
}
/* line 31, ../sass/styles.scss */
.flip .card .front {
  z-index: 1;
  background: black;
  color: white;
}
/* line 36, ../sass/styles.scss */
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  background: #009597;
  color: #fff;
}
/* line 40, ../sass/styles.scss */
.flip .card .back img {
  visibility: hidden;
}
/* line 43, ../sass/styles.scss */
.flip .card .back .back-details {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 49, ../sass/styles.scss */
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
