/* line 1, ../sass/styles.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 300;
}

/* line 8, ../sass/styles.scss */
h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

/* line 13, ../sass/styles.scss */
strong {
  font-weight: 600;
}

/* line 16, ../sass/styles.scss */
.flip {
  -webkit-perspective: 800;
  width: 25%;
  height: auto;
  position: relative;
  display: inline-block;
  float: left;
}
/* line 23, ../sass/styles.scss */
.flip img {
  width: 100%;
  height: auto;
  display: inherit;
}
/* line 28, ../sass/styles.scss */
.flip .card {
  height: auto;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.4s;
}
/* line 32, ../sass/styles.scss */
.flip .card .face {
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  cursor: pointer;
}
/* line 39, ../sass/styles.scss */
.flip .card .front {
  z-index: 1;
  color: white;
}
/* line 43, ../sass/styles.scss */
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  background: #009597;
}
/* line 46, ../sass/styles.scss */
.flip .card .back img {
  visibility: hidden;
}
/* line 49, ../sass/styles.scss */
.flip .card .back .back-details {
  position: absolute;
  top: 0;
  left: 10px;
}
/* line 55, ../sass/styles.scss */
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}

/* line 60, ../sass/styles.scss */
.details-row {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
}
/* line 64, ../sass/styles.scss */
.details-row span {
  display: inline-block;
}
/* line 68, ../sass/styles.scss */
.details-row.details-row-1 span {
  width: 115px;
}
/* line 73, ../sass/styles.scss */
.details-row.details-row-2 .sqft {
  width: 115px;
}
/* line 76, ../sass/styles.scss */
.details-row.details-row-2 .beds, .details-row.details-row-2 .baths {
  width: 75px;
}
